.intro-panel {
    &__wrapper {
        text-align: center;
        padding: 50px 40px;

        @include breakpoint(smalldesktop) {
            padding: 80px 40px;
        }
    }

    &__heading {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 16px;
        max-width: 860px;
        margin: 0 auto;
        color: $secondary-color;

        &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            height: 2px;
            background-color: $secondary-color;
            width: 48px;
            // fallback for when justify content center flex does not work, minus half the width since the 50% mark will start where the div starts rather than center of the div. 
            right: calc(50% - 24px);
            transform: translateY(-50%);
        }
    }

    &__paragraph {
        padding-top: 50px;
        max-width: 704px;
        margin: 0 auto;
    }
}
